@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(http://laemeur.sdf.org/fonts/PlayfairDisplay-woff2/PlayfairDisplay-Regular.woff2) format('woff2') ;}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(http://laemeur.sdf.org/fonts/PlayfairDisplay-woff2/PlayfairDisplay-Italic.woff2) format('woff2') ;}
@font-face {
  font-family: 'Playfair Display';
font-style: italic;

  font-weight: bold;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(http://laemeur.sdf.org/fonts/PlayfairDisplay-woff2/PlayfairDisplay-BoldItalic.woff2) format('woff2') ;}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display SC'), local('PlayfairDisplaySC-Regular'), url(http://laemeur.sdf.org/fonts/PlayfairDisplay-woff2/PlayfairDisplaySC-Regular.woff2) format('woff2');
}
body{
    background-color: lightgrey;
    color: #333;
    max-width: 7in;
    margin: 2em auto;
    font-family: "Playfair Display",serif;
    font-size: 12pt;
}
article{ padding: 1em; width: 6.5in;}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
.smallcaps{
    font-family: "Playfair Display SC",serif;
}
h1,h2,h3,h4{text-align: center;}
h1{
    font-family: "Playfair Display SC",serif;
    font-size: 1.5em;
    margin: 0.25em;
}
h2{
    font-family: "Playfair Display SC",serif;
    font-size: 1.5em;
    font-weight: normal;
}
h3{
    font-family: "Playfair Display",serif;
    font-style: italic;
    font-weight: normal;
}
p{ text-align: justify; }

section{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
hr{
    border: none;
    background-color: black;
    height: 0.5pt;
    width: 85%;
}
figure{
    text-align: center;
}
footer {
    font-style: italic;
    margin-top: 1em;
    border-top: dashed 1px black;
    padding: 1em;
}