@import url('/alph/fonts/cmun-serif/cmun-serif.css');
body {
    margin: auto;
    background-color: #101118;
    color: #C0C8D0;
    font-family: "Computer Modern Serif",serif;
    font-size: 15px;
}
main {
    padding: 1em;
}
input {
    background-color: #101118;
    color: #C0C8D0;
    background-color: black;
}
input[type=text]{
    border: solid 1px #303338;
    padding: 0.25em;
    background-color: black;
}
input[type=submit]{
    border: solid 1px #303338;
}
input[type=submit]:hover{
    border: solid 1px #404348;
    color: red;
}
footer{
    position: fixed;
    bottom: 0px;
    display: block;
    text-align: right;
    width: 100vw;
    background-color: black;
}
