
address{background-color: #bbb; padding: 0.3em;}
footer{background-color: #bbb; font-size: small; padding: 0.2em; text-align: right;}
td{padding: 0em 0.5em; border-bottom: 1px #AAA dotted; }
td.dirname::before{content: "▶ "}
tr.dir{ background-color: #ccc;}
header{ padding: 0.5em; background-color: #eee;}
.description{ font-size: smaller; }
.mimetype{ font-size: smaller; }
.description::before {content: ""; }